In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import confusion_matrix, accuracy_score
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [2]:
dataset = pd.read_csv('ML_dataset_Churn_Modelling.csv')

In [3]:
print("===== Dataset Information =====")
print("Information of Dataset:\n", dataset.info())
print("\nShape of Dataset (rows x columns): ", dataset.shape)
print("\nColumn Names: ", list(dataset.columns))
print("\nTotal Elements in Dataset:", dataset.size)
print("\nData Types of Each Column:\n", dataset.dtypes)
print("\nFirst 5 Rows:\n", dataset.head().T)
print("\nLast 5 Rows:\n", dataset.tail().T)
print("\nRandom 5 Rows:\n", dataset.sample(5).T)

===== Dataset Information =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB
Information of Dataset:
 None

Shape of Dataset (rows x columns):  (10000, 14)

Column Names:  ['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited']

Total Elements in Dataset: 140000

Data Types of Each Column:
 RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

First 5 Rows:
                          0          1          2         3          4
RowNumber                1          2          3         4          5
CustomerId        15634602   15647311   15619304  15701354   15737888
Surname           Hargrave       Hill       Onio      Boni   Mitchell
CreditScore            619        608        502       699        850
Geography           France      Spain     France    France      Spain
Gender              Female     Female     Female    Female     Female
Age                     42         41         42        39         43
Tenure                   2          1          8         1          2
Balance                0.0   83807.86   159660.8       0.0  125510.82
NumOfProducts            1          1          3         2          1
HasCrCard                1          0          1         0          1
IsActiveMember           1          1          0         0          1
EstimatedSalary  101348.88  112542.58  113931.57  93826.63    79084.1
Exited                   1          0          1         0          0

Last 5 Rows:
                      9995       9996      9997       9998       9999
RowNumber            9996       9997      9998       9999      10000
CustomerId       15606229   15569892  15584532   15682355   15628319
Surname          Obijiaku  Johnstone       Liu  Sabbatini     Walker
CreditScore           771        516       709        772        792
Geography          France     France    France    Germany     France
Gender               Male       Male    Female       Male     Female
Age                    39         35        36         42         28
Tenure                  5         10         7          3          4
Balance               0.0   57369.61       0.0   75075.31  130142.79
NumOfProducts           2          1         1          2          1
HasCrCard               1          1         0          1          1
IsActiveMember          0          1         1          0          0
EstimatedSalary  96270.64  101699.77  42085.58   92888.52   38190.78
Exited                  0          0         1          1          0

Random 5 Rows:
                       1145       9111           4617       493          5191
RowNumber             1146       9112           4618        494         5192
CustomerId        15601688   15711062       15799932   15725679     15681075
Surname             Piccio     Thomas  Iweobiegbunam       Hsia  Chukwualuka
CreditScore            546        633            812        531          682
Geography           France    Germany         France     France       France
Gender                Male       Male           Male     Female       Female
Age                     28         40             24         47           58
Tenure                   8          5             10          6            1
Balance                0.0   86172.81            0.0        0.0          0.0
NumOfProducts            1          2              2          1            1
HasCrCard                1          1              1          0            1
IsActiveMember           0          1              1          0            1
EstimatedSalary  159254.29  117279.49      156906.15  194998.34        706.5
Exited                   0          0              0          1            0

In [4]:
print("\n===== Statistical Information =====")
print(dataset.describe())

===== Statistical Information =====
         RowNumber    CustomerId   CreditScore           Age        Tenure  \
count  10000.00000  1.000000e+04  10000.000000  10000.000000  10000.000000
mean    5000.50000  1.569094e+07    650.528800     38.921800      5.012800
std     2886.89568  7.193619e+04     96.653299     10.487806      2.892174
min        1.00000  1.556570e+07    350.000000     18.000000      0.000000
25%     2500.75000  1.562853e+07    584.000000     32.000000      3.000000
50%     5000.50000  1.569074e+07    652.000000     37.000000      5.000000
75%     7500.25000  1.575323e+07    718.000000     44.000000      7.000000
max    10000.00000  1.581569e+07    850.000000     92.000000     10.000000

             Balance  NumOfProducts    HasCrCard  IsActiveMember  \
count   10000.000000   10000.000000  10000.00000    10000.000000
mean    76485.889288       1.530200      0.70550        0.515100
std     62397.405202       0.581654      0.45584        0.499797
min         0.000000       1.000000      0.00000        0.000000
25%         0.000000       1.000000      0.00000        0.000000
50%     97198.540000       1.000000      1.00000        1.000000
75%    127644.240000       2.000000      1.00000        1.000000
max    250898.090000       4.000000      1.00000        1.000000

       EstimatedSalary        Exited
count     10000.000000  10000.000000
mean     100090.239881      0.203700
std       57510.492818      0.402769
min          11.580000      0.000000
25%       51002.110000      0.000000
50%      100193.915000      0.000000
75%      149388.247500      0.000000
max      199992.480000      1.000000

In [5]:
X = dataset.drop(columns=['RowNumber', 'CustomerId', 'Surname', 'Exited'])
y = dataset['Exited']

In [11]:
categorical_cols = ['Geography', 'Gender']

In [13]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(drop='first'), categorical_cols)],
                       remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [19]:
classifier = Sequential()

In [21]:
classifier.add(Dense(units=6, activation='relu', input_dim=X_train.shape[1]))
classifier.add(Dropout(0.1))

C:\Users\VP\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [23]:
classifier.add(Dense(units=6, activation='relu'))
classifier.add(Dropout(0.1))

In [25]:
classifier.add(Dense(units=1, activation='sigmoid'))

In [27]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [29]:
history = classifier.fit(X_train, y_train, batch_size=32, epochs=100, verbose=0)

In [30]:
y_pred = (classifier.predict(X_test) > 0.5)

63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step

In [31]:
cm = confusion_matrix(y_test, y_pred)
acc = accuracy_score(y_test, y_pred)

In [32]:
print("\n===== Model Evaluation =====")
print("Confusion Matrix:\n", cm)
print("\nAccuracy Score:", round(acc * 100, 2), "%")

===== Model Evaluation =====
Confusion Matrix:
 [[1556   51]
 [ 254  139]]

Accuracy Score: 84.75 %